@charset "UTF-8";
html{
    font-size:100%; 
}
img{
    max-width:100%; 
    max-height: 100%;
}
body{
    margin: auto;
    width: 100%;
}
/* header */
header  {
    margin:0 auto;
    padding-bottom: 32.69px;
    position: relative;
    background-color: #f2f3f7;
    width: 100%;
}
.header-bg {
    position: relative;
    overflow: hidden;
    background-image:
    url(images/background-images.png);
    background-position:top center;
    background-size:contain;
    background-repeat:no-repeat;
    height: auto;
    min-height: 750px;
}
/* nav */
.header-contents {
    position: relative;
    margin:59px auto 0 auto;
    width: 975px;
    height: 77px;
    box-shadow: 4px 4px 1px #00000029;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.logo {
    padding-left: 37px;
}
.header-navlists {
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
}
a {
    text-decoration: none;
}
ul,li {
    list-style: none;
}
.nav-item a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.25rem;
}
.nav-item-contact {
    padding-right: 44.5px;
}
.nav-item a::after {
    display: block;
    color: #777;
    font-weight: 500;
    font-size: 10px;
    line-height: 0.875rem;
}
.header-nav li + li {
    border-left: 0.926px solid #000;
    height: 0.875rem;

}
.nav-item-about a::after {
    content: "企業情報";
}
.nav-item-news a::after {
    content: "ニュース";
}
.nav-item-service a::after {
    content: "サービス&製品情報";
}
.nav-item-service {
    white-space: nowrap
}
.nav-item-contact a::after {
    content: "お問い合わせ";
}
.headerNavlists {
    display: flex;
    list-style: none;
    position: relative;
}
.header-navlists a {
    padding:5px 54.5px;
}
.title-text2 {
    position: absolute;
    top: 80px;
    left: 0%;
    width: 21.3125rem;
    height: 16.3125rem;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 4.75rem;
    line-height: 5.461875rem;
    color: #D4004E;
}
.title-textp {
    position: absolute;
    top: 410px;
    left: 10%;
    width: 8rem;
    height: 3rem;
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #D4004E;
}
/* images */
.scroll {
    position: absolute;
    top: 749px;
    left:50%;
    width: 2.9375rem;
    height: 5.168125rem;
} 
/*main*/
main {
    margin: 0 auto;
    width: 975px;
}
/* about */
.about {
    margin-top: 102.12px;
}
.about-text {
    background-color: #F2F3F7;
    width: 953.95px;
    height: 282.5px;
    margin: auto;
}
.about-text p {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 35px;
    color: #333333;
    padding: 69px 56.95px 26.5px 66px;
    margin-top: -30px;
}
.about-buttton {
    display: block;
    margin: -15px auto 115.72px auto;
    width: 157.12px;
    height: 35.8px;
    background-color: #D4004E;
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0;
    border: none;
    text-align: center;
}
/* service&product */
.service-item-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 72.38px;
}
.service-item-2 {
    display: flex;
    justify-content: space-between;
}
.service-item-3 {
    display: flex;
    justify-content: space-between;
}
.service-item-4 {
    display: flex;
    justify-content: space-between;
}
.service-logo-image {
    width:489px;
    height:263px;
}
.service-text-1 {
    width:489px;
    height:263px;
    padding-left: 95.5px;
}
.service-text-2 {
    width:489px;
    height:263px;
    padding-right:95.5px;
}
h3 {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #D4004E;
}
.explanation {
    margin-top: 38px;
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}
button {
    display: block;
    margin: 54.6px auto;
    width: 157.12px;
    height: 35.8px;
    background-color: #D4004E;
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0;
    border: none;
    text-align: center;
}
.main-contents-title {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 62px;
    color: #333;
    margin-bottom: 0;
}
.main-contents-title::before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 60.4px;
    background-image: url(images/グループ\ 145.png);
    background-size: contain;
    margin-right: 23.95px;
}
/* news */
.news {
    margin-top: 78.5px;
}
.news-list {
    list-style: none outside;
    margin-top: -30px;
}
.news-item {
    text-decoration: none;
    background-color: #f2f3f7;
    width: 954px;
    height: 86px;
    margin-bottom: 12px;
}
.news-item a {
    box-sizing: border-box;
    width: 954px;
    display: flex;
    justify-content: space-between; 
    padding-left: 20.5px;
    padding-right: 36.04px;
}
.category1 {
    font-family: 'Hiragino Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #E5A31C;
    border: 1px solid #E5A31C;
    padding: 3.5px 6.5px 3.5px 9.5px;
    margin-top: 33.5px;
}
.category2 {
    font-family: 'Hiragino Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #D4004E;
    border: 1px solid #D4004E;
    padding: 3.5px 59.5px;
    margin-top: 33.5px;
}
.category3 {
    font-family: 'Hiragino Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #5FA153;
    border: 1px solid #5FA153;
    padding: 3.5px 25.5px;
    margin-top: 33.5px;
}
.category4 {
    font-family: 'Hiragino Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #50BBF4;
    border: 1px solid #50BBF4;
    padding: 3.5px 42.5px;
    margin-top: 33.5px;
}
.date {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    color: #333;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    margin-top: 36px;
    position: relative;
    display: inline-block;
}
.date::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 140%;
    top: 20%;
    background-color: #777;
    width: 0.85px;
    height: 0.875rem;
    top: 10%;
}
.news-title {
    position: relative;
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    margin-top: 36px;
}
.news-title::after {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #707070;
    border-right: solid 2px #707070;
    position: absolute;
    top: 0;
    left: 100%;
    transform: rotate(45deg);
    display: block;
}
.news-button {
    width: 157.12px;
    height: 35.8px;
    background-color: #D4004E;
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0;
    border: none;
    display: block;
    margin:48.6px auto 98.6px auto;
    text-align: center;
}
/* footer */
footer {
    background-color: #333;
    width: 100%;
    height: 261px;
    text-align: center;
}
.footer-item {
    margin: 0 auto;
}
.footer-list {
    margin: 0 auto;
    padding-top: 65px;
    width: 438px;
    display: flex;
    justify-content: space-between;
}
.footer-list a {
    text-align: center;
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color:#FFFFFF;
    text-decoration: none;
}
.footer-list li +li {
    border-left: 1.93px solid #FFFFFF;
    padding-left: 33.5px;
}
.copyright {
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer-button {
    margin: 55px auto 51px auto;
    width: 157.12px;
    height: 35.8px;
    background-color: #FFFFFF;
    font-family: 'Noto Sans CJK JP';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    color: #333333;
    padding: 0;
    border: none;
    text-align: center;
} 
